.border {
    border: 1px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

/* For webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #2e2e2e;
    /* Track color */
    border-radius: 10px;
    /* Optional: Rounded corners */
}

::-webkit-scrollbar-thumb {
    background-color: #575757;
    /* Scrollbar thumb color */
    border-radius: 10px;
    /* Optional: Rounded corners */
    border: 3px solid #2e2e2e;
    /* Optional: Adds space around the thumb */
}

/* For Firefox */
html {
    scrollbar-width: thin;
    /* Thin scrollbar */
    scrollbar-color: #575757 #2e2e2e;
    /* Thumb and track colors */
}